<section
  class="max-w-page mx-auto flex flex-col items-center justify-center h-[calc(80vh-3.5rem)] gap-y-4"
>
  <h1
    class="font-bold text-3xl md:text-4xl lg:text-5xl mx-auto text-center max-w-[500px] lg:max-w-[700px] leading-[1.2]"
  >
    Free App that will help you achieve
    <span class="text-primary">Your Goals.</span>
  </h1>
  <p
    class="text-center max-w-[550px] text-text-secondary text-base md:text-lg leading-relaxed"
  >
    Discover the power of our free app designed to help you set, track, and
    achieve your goals. Start your journey to success
  </p>
  <div class="mt-4 flex items-center gap-x-4">
    <app-button>Download</app-button>
    <app-button variant="secondary">Learn more</app-button>
  </div>
</section>

<app-hero-advantages></app-hero-advantages>
