<div
  class="grid grid-cols-1 md:grid-cols-2 gap-10 justify-items-center mt-[15vh]"
>
  <img
    ngSrc="assets/mobile-1.png"
    alt="Habits App"
    class="rounded-lg"
    height="1920"
    width="1090"
  />
  <img
    ngSrc="assets/mobile-3.png"
    alt="Habits App"
    class="rounded-lg"
    height="1920"
    width="1090"
  />
  <img
    ngSrc="assets/mobile-4.png"
    alt="Habits App"
    class="rounded-lg"
    height="1920"
    width="1090"
  />
  <img
    ngSrc="assets/mobile-2.png"
    alt="Habits App"
    class="rounded-lg"
    height="1920"
    width="1090"
  />
</div>
